.numeric-button {
  flex-basis: calc(80% / 4);
  height: 14vh;
  background: rgb(61, 61, 61);
  border: 1px solid black;
  margin: 0px 5px;
  color: white;
  transition: all 0.3s;
}

.numeric-button:hover,
.numeric-button:active {
  background: white;
  color: rgb(61, 61, 61);
  cursor: pointer;
}