.operation-button {
  flex-basis: calc(80% / 4);
  height: 12vh;
  background: rgb(44, 43, 43);
  border: 1px solid black;
  margin: 0px 5px;
  color: white;
  text-align: center;
}

.operation-button:hover {
  background: white;
  font-size: 32px;
  color: rgb(44, 43, 43);
  cursor: pointer;
}

.big-button {
  flex-basis: 85% !important;
}